body{
    min-width: 1400x;
    max-width: 1500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
}

.header{
    display:flex;
    flex-direction: row;
align-items: center;
padding: 0px 51px;
gap: 10px;
height: 80px;
}
.m{
    color: black;
    font-size: 44px;
}
.m:hover{
    color: black;
}

.bread_crumbs{
display: flex;
gap: 4px;
flex-direction: row;
align-items: center;
padding: 8px 0px 8px 51px;
}

.main-name{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 20px 50px;
gap: 10px;

font-weight: 700;
font-size: 32px;

}
.photo_product{
display: flex;
flex-direction: row;
align-items: center;
padding:  0 53.17px 0 50px;
gap: 10px;
height: 387px;
}
.photo_product-1{
    width: 304.33px;
    height: 387px;
}
.photo_product-2{
width: 192.73px;
height: 387px;
}

.photo_product-3{
    width: 199.06px;
    height: 387px;

}
.photo_product-4{
    width: 361.5px;
    height: 387px;
}
.photo_product-5{
    width: 299.22px;
    height: 387px;
}

.characteric{
    padding: 30px 0 0 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}
.characteristic-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
}
.characteric-color{
    display: flex ;
    gap: 10px;
    padding: 15px 0 0 0;
}

.img-color{
    width: 80px;
    height: 80px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
border: 1px solid #888888;
border-radius: 4px;
box-sizing: border-box;
}
.img-color_1{
width: 30.93px;
height: 60px;
}

.img-select{
    border: 2px solid #F36223;
}
.img-guidance:hover{
    background:#F2F2F2;
}

.characteristic-name{
font-weight: 700;
font-size: 16px;
margin: 0;
}

.btn-memory{
display: flex;
align-items: center;
padding: 15px 0 0 0 ;
gap: 10px;


}
.characteristic-memory{
    padding: 30px 0 0 0;
}
.btn-memory_1{
  width: 92px;
height: 39px;
font-weight: 500;
font-size: 16px;
border-radius: 4px;
background: white;
border:#a1a1a1 solid 1px;
}
.btn-guidance:hover{
    
    background:#F2F2F2;
   

}
.btn-guidance1:hover{
     background: #DA4A0C; 
}
.btn-select{
    border: 2px solid #F36223;
}

.characteristic-product{
padding: 30px 0 0 0;
}

.characteriscic-producrt_name1{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.characteriscic-producrt_name{
  margin: 0;  
}

.product{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;
}

li{
    list-style-type: none; 
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}
li::before{
    color: #888888;
    font-size: 40px;
    content:"\2022";
    vertical-align: middle;
    padding-right: 10px;
}
ul{
    padding: 0;   
}
.desctiption-text{
    width: auto;
height: 421px;
padding: 12px 0 0 0;
}

.z_name{
    font-weight: 700;
font-size: 16px;
margin: 0;
padding-bottom: 15px;
}
.paragraph{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 880px;

}

.sidebar{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 420px;

gap: 40px;
}

.sidebar_important{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;
width: 420px;
height: 275px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 20px;
margin-bottom: 40px;

}

.sidebar_important_price{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
margin:24px 0 0 20px;
width: 132px;
height: 73px;
    
}
.sidebar_important_price-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 123px;
    height: 24px;
}
.price{
font-weight: 500;
font-size: 16px;
text-decoration-line: line-through;
color: #888888;
}

.sale{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
border-radius: 500px;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
}
.actual_price{
    width: 132px;
    height: 39px;
    font-weight: 500;
font-size: 32px;
}

.delivery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0 20px;
    gap: 10px;
    
    width: 380px;
    height: 68px;
}

.option-delivery{
    font-weight: 400;
font-size: 16px;
align-self: stretch;
}

.btn-important{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 49px;
gap: 10px;
width: 380px;
height: 64px;
background: #F36223;
border-radius: 4px;
font-weight: 400;
font-size: 20px;
line-height: 24px;
border: none;
margin: 0 20px 20px 20px; 
color: #FFFFFF;
cursor: pointer;
}

.advertisement{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 420px;
height: 642px;
}

.advertisement-name{
    font-weight: 400;
font-size: 14px;
color: #888888;
}
.advertisement-list{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 420px;
height: 615px;
}
.frame1{
display: flex;
flex-direction: column;
gap: 10px;
width: 420px;
height: 300px;
background: #F0F0F0;
border: 1px dashed #888888;
}

.reviews{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;
padding: 0 0 0 50px;
width: 880px;
}
.reviews-name{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;
width: 880px;
height: 39px;
}

.review-name-1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 155px;
height: 29px;
}
.review-name_name{
    margin: 0;
    font-weight: 700;
font-size: 24px;
}
.review-name_count{
    font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #888888;
}

.btn_review{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 20px;
gap: 10px;
border: 1px solid #888888;
border-radius: 4px;
width: 168px;
height: 39px;
background: #FFFFFF;
font-weight: 500;
font-size: 16px;
}
.reviews-reviews{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 880px;
height: 520px;
}

.reviews-reviews_1{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
width: 880px;
height: 210px;
}

.reviews-reviews_1_img{
 width: 140px;
height: 140px;
border-radius: 100px;
}
.reviews-reviews_1_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 710px;
    height: 250px;
}
.reviews-reviews_1_header{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 150px;
}
.reviews-reviews_1_header_name-client{
    font-weight: 700;
font-size: 20px;
}
.reviews-reviews_1_header_name-rating{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
width: 150px;
height: 40px;
}
.reviews-reviews_1_content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 710px;
}


.separator{
    width: 880px;
height: 1px;
margin: 0;
}
.reviews-reviews_1_content_text{
    margin: 0;
    font-size: 14px;
}
.reviews-reviews_1_content_text1{
    font-weight: 700;
}
a{
    text-decoration: none;
    color:#018ad2;
}
a:hover{
    color:#c00;
    
}


button{
    padding: 8px 12px;
}
p{
    margin:16px 0;
}


.logo{
    width: 55px; 
    height: 60px; 
    display: inline-block;
    position: absolute;
}
.zagolovok1{
    display: inline-block; 
    margin-left: 64px ;
}


.img_color{
    height:100px; 
    display:inline-block
}
.zagolovok2{
    display: inline-block;
}

.client_1{
    height:200px; 
    display:inline-block
}
.client_2{
    height:30px; 
    display:inline-block
}
.flexbox{
    display: flex;

}
.flexbox2{
    margin: 0 0 0 16px;
}
