.main__sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 420px;
    gap: 40px;
}

@media (min-width:1024px) and (max-width:1499px) {
   
    .main__sidebar{
        width: 360px;

    }
}
@media(min-width:360px) and (max-width:1023px){
    .main__sidebar{
        width: 360px;

    }
        
    }