.main__description-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 880px;    
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__description-paragraph{
        width:594px;
    }

}
@media(min-width:360px) and (max-width:1023px){
  .main__description-paragraph{
      width: 338px;
  }
         
     }

