.main__reviews-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 880px;
    height: 39px;
    }

    @media (min-width:1024px) and (max-width:1499px) {
        .main__reviews-name{
            width: 594px;
        }
    
    }