.main__table{
    margin: 30px 0 0 50px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__table{
        display: none;
    }
}
@media(min-width:360px) and (max-width:1023px){
    .main__table{
        display: none;
    }
        
    }