.main__form-input-error1{
    position: absolute;
    top:47px;
    width: 495px;
    height: 30px;
    background: #c00;
    display: none;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    font-weight: 500;
}
.hide {
    display: none;
  }