.main__characteric-color {
width: 80px;
height: 80px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
border: 2px solid #A93A09;
border-radius: 4px;
}
.main__characteric-color:active{
    border: 2px solid #A93A09; 
}


