.main__sidebar-btn-important-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 49px;
    gap: 10px;
    width: 380px;
    height: 64px;
    background: #8888;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: none;
    margin: 0 20px 20px 20px; 
    color: #FFFFFF;
    cursor: pointer;
}
.main__sidebar-btn-important-add::before{
    content: "";
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("/public/basket/basket.png");
    background-repeat: no-repeat;

}

@media(min-width:360px) and (max-width:1023px){
    .main__sidebar-btn-important-add{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 49px;
        gap: 10px;
        width: 320px;
        height: 64px;
        background: #8888;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        border: none;
        margin: 15px 20px 20px 20px;
        color: #FFFFFF;
        cursor: pointer;
    }
         
     }