.main__reviews-reviews-1-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 710px;
    }

    @media (min-width:1024px) and (max-width:1499px) {
        .main__reviews-reviews-1-content{
            width: 464px;
        }
    }

    @media(min-width:360px) and (max-width:1023px){
        .main__reviews-reviews-1-content{
            width: 320px;
            right: 75px;
            position: relative;
        }
              
          }