.main__separator{
    width: 710px;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 2px black dashed;
    margin: 0 0 0 170px;
    
}

@media (min-width:1024px) and (max-width:1499px) {
   
    .main__separator{
        margin: 0;
        padding: 0;
        width: 594px;
    }
}

@media(min-width:360px) and (max-width:1023px){
    .main__separator{
        padding:0;
        margin: 0;
        width: 360px;
    }
          
      }