.main__form-input-error2{
    height: 30px;
    background: #c00;
    top: 47px;
    position: absolute;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    font-weight: 500;
    height: auto;
}
@media(min-width:360px) and (max-width:1023px){
    .main__form-input-error2{
        width: 335px;
    }
         
     }
