.main__reviews-reviews{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
width: 880px;
height: auto;
}

@media (min-width:1024px) and (max-width:1499px) {
    .main__reviews-reviews{
        width: 594px;
    }
}

@media(min-width:360px) and (max-width:1023px){
    .main__reviews-reviews{
    
        width: 360px;
    }
          
      }