.main__sidebar-advertisement-list-frame1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    }
    