.main__form-feedback-textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
     resize: none;
    width: 710px;
height: 190px;
box-sizing: border-box;
border: 1px solid #888888;
}
.main__form-feedback-textarea::placeholder{
    font-weight: 500;
font-size: 16px;
color: #8888;
font-family: 'Inter';
} 