.main__sidebar-important{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
    