.main__characteric-color {
width: 80px;
height: 80px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
border: 1px solid #888888;
border-radius: 4px;
box-sizing: border-box;
}
