.bread-crumbs{
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px 8px 51px;
    }

    @media (min-width:1024px) and (max-width:1499px) {
        .bread-crumbs{
            padding: 8px 0 8px 15px;
        }
    }
    @media(min-width:360px) and (max-width:1023px){
        .bread-crumbs{
            width: 340px;
            height: 46px;
            padding: 0 10px;
            font-size: 14px;
            padding: 0 10px;
        }
    }