.main__sidebar-important-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin:24px 0 0 20px;
    width: 132px;
    height: 73px;
}