.main__form-feedback-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 168px;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    background: #F36223;
    color: #FFFFFF;
    }
    
    .main__form-feedback-btn:hover{
        background: #DA4A0C;
        cursor: pointer;
    }
    .main__form-feedback-btn:active{
        background:  #A93A09; 
    }
    