.main__sidebar-important-favorite-icon{
    margin-bottom: 10px;
     fill: #888888;
}

.main__sidebar-important-favorite-icon:hover{
fill: #DA4A0C;
}
.main__sidebar-important-favorite-icon:active{
    fill: #A93A09;
}