.main__reviews-reviews-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 880px;
    height: 210px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__reviews-reviews-1{
        width: 594px;
        height: auto;
    }
}
@media(min-width:360px) and (max-width:1023px){
    .main__reviews-reviews-1{
       
        width: 360px;
        height: auto;
    }
         
     }