body{
   
    max-width: 1500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
}


li{
    list-style-type: none; 
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    list-style-position: outside;
}

li::before{
    color: #888888;
    font-size: 40px;
    content:"\2022";
    vertical-align: middle;
    padding-right: 10px;

}
ul{
    padding: 0;   
    
}
.main__characteric-color label{
    cursor: pointer;
}
input {
    display: none;
}
 input:active + .main__characteric-color  {

    border: 2px solid #A93A09; 
}
a{
    text-decoration: none;
    color:#018ad2;
}
a:hover{
    color:#c00;
}

a:active{
    color: #A93A09;
}

button{
    padding: 8px 12px;
}
p{
    margin:16px 0;
}