.main__sidebar-advertisement-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 420px;
    height: 615px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .main__sidebar-advertisement-list{
        width: 360px;
    }
  
}