.main__form-feedback-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 710px;
    height: 338px;
    
}
@media(min-width:360px) and (max-width:1023px){
    .main__form-feedback-form{
        width: 335px;
        gap: 25px;
    }
         
     }