.main__form-input {
    position: relative;
}

.main__form-input-error1{
    position: absolute;
    top:47px;
    width: 495px;
    height: 30px;
    background: #c00;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    font-weight: 500;
}

.hide {
    display: none;
  }

  @media(min-width:1024px) and (max-width:1499px){
    .main__form-input-error1{
        width: 380px;
    }
         
     }

  @media(min-width:360px) and (max-width:1023px){
    .main__form-input-error1{
        width: 335px;
    }
         
     }