.main__name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px 50px;
    gap: 10px;
    font-weight: 700;
    font-size: 32px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__name{
        padding:0 0 20px 15px; 
    }
}