.main__btn-memory-1{
    width: 92px;
  height: 39px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  background: white;
  border:#a1a1a1 solid 2px;
  cursor: pointer;
  }
  .main__btn-memory-1:active{
    border: 2px solid #A93A09; 
}