.main__form-feedback{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 170px;
gap: 15px;
margin: 35px 0 0 0;

}

@media (min-width:1024px) and (max-width:1499px) {
        
    .main__form-feedback-form{
        width: 594px;
        
    }
  
}
@media(min-width:360px) and (max-width:1023px){
    .main__form-feedback{
        padding: 0 10px 0 10px;
        width: 335px;
    }
         
     }