.main__reviews{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    padding: 0 0 0 50px;
    width: 880px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .main__reviews{
        padding: 44px 0 0 15px;
        width: 594px;
    }

}
@media(min-width:360px) and (max-width:1023px){
   .main__reviews{
       padding: 10px 0 0 10px;
       width: 360px;
   }
         
     }