.main__characteristic-product{
    padding: 30px 0 0 0;
    }

    @media(min-width:360px) and (max-width:1023px){
        .main__characteristic-product{
            width: 338px;
            text-align: left;
        }
             
         }