.main__form-input-error2{
    height: 30px;
    background: #c00;
    top: 47px;
    display: none;
    position: absolute;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    font-weight: 500;
    width: max-content;
}