.footer{
display: flex;
margin: 100px 0 0 0;
align-items: center;
padding: 0px 50px;
background: #F2F2F2;
justify-content: space-between;
}

@media (min-width:1024px) and (max-width:1499px) {
    .footer{
        margin: 80px 0 0 0;
    }
}