@media (min-width:1024px) and (max-width:1499px) {
    .main__table{
        display: none;
    }
    .header{
        padding: 0 15px;
    }
    .bread-crumbs{
        padding: 8px 0 8px 15px;
    }
    .main__name{
        padding:0 0 20px 15px; 
    }
    .main__photo-product{
        padding: 0 15px;
      
    }
    .main__photo-product-list{
        height: 272px;
    }
    .main__characteric{
        padding: 30px 15px 0 15px;
        gap: 40px;
        width: 994px;
    }
    .main__characteristic-left{
        width: 594px;
    }


    .main__description-paragraph{
        width:594px;
    }

    .main__reviews{
        padding: 44px 0 0 15px;
        width: 594px;
    }
    .main__reviews-name{
        width: 594px;
    }

    .main__reviews-reviews{
        width: 594px;
    }

    .main__reviews-reviews-1{
        width: 594px;
        height: auto;
    }

    .main__reviews-reviews-1-info{
       width: 464px;
    }
    .main__reviews-reviews-1-content{
        width: 464px;
    }

    .main__reviews-reviews-1-header{
        width: 100px;
    }

    .main__reviews-reviews-1-header-name-rating{
        width: 100px;
        height: auto;
    }

    .main__reviews-client-2{
        width: 100px;
        height: 20px;
    }
    .main__separator{
        margin: 0;
        padding: 0;
        width: 594px;
    }

    .main__reviews-reviews-1-img{
        width: 100px;
        height: 100px;
    }
    .main__sidebar{
        width: 360px;

    }
    .main__sidebar-advertisement{
        width: 360px;
    }
    .main__sidebar-important{
        width: 360px;
        height: 313px;
    }
    .main__sidebar-delivery{
        width: 320px;
        height: auto;
    }
    .main__sidebar-btn-important{
        width: 320px;
        margin: 15px 20px 20px 20px;   
    }
    .main__sidebar-advertisement-list{
        width: 360px;
    }
    .main__sidebar-advertisement-list-frame1{
        width: 360px;
    }

    .main__form-feedback{
        padding: 0 0 0 15px;  
        width: 594px;
        margin: 54px 0 0 0;  
    
    }
    .main__form-feedback-form{
        width: 594px;
        
    }

    .main__form-feedback-input{
        width: 594px;
    }
    .main__form-feedback-input1{
        width: 379px;
    }

    .main__form-feedback-text{
        width: 594px;
    }
    .main__form-feedback-textarea{
        width: 594px;
    }
    .footer{
        margin: 80px 0 0 0;
    }
  }