.header__elected_count{
    position: absolute;
    width: auto;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding: 2px 7px;
    text-align: center;
    left: 24px;
   top: 0;
}
@media(min-width:360px) and (max-width:1023px){
    .header__elected_count{
        position: absolute;
        width: auto;
        height: 10px;
        line-height: 10px;
        border-radius: 50%;
        background: #F36223;
        font-weight: 500;
        font-size: 10px;
        color: white;
        padding: 1px 3px;
        text-align: center;
        left: 14px;
       top: 2px;
    }
}
