.header__icon{
    display: flex;
width: 50px;
height: 50px;
position: relative;
justify-content: center;
align-items: center;

}
@media(min-width:360px) and (max-width:1023px){
    .header_favorite{
      width: 25px;
      height: 20px;
    }
    .header_cart{
        width: 25px;
        height: 20px;
    }

    .header__icon{
        width: 30px;
        height: 30px;
    }
    
        
    }