body{
    max-width: 1500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
}
.frame1{
 
   border: 1px dashed #ccc ;
    width: 300px;
    height: 400px;
    background-color: #e6e6e6;
}

a{
    text-decoration: none;
    color:#018ad2;
}
a:hover{
    color:#c00;
    
}
.m{
    color: black;
}
.m:hover{
    color: black;
}

button{
    padding: 8px 12px;
}
p{
    margin:16px 0;
}

ul{
    padding: 0;
}
.logo{
    width: 55px; 
    height: 60px; 
    display: inline-block;
    position: absolute;
}
.zagolovok1{
    display: inline-block; 
    margin-left: 64px ;
}
.img1{
    height:400px; 
    display:inline-block
}

.img_color{
    height:100px; 
    display:inline-block
}
.zagolovok2{
    display: inline-block;
}
.btn_1{
    display: inline-block;
    
}
.client_1{
    height:200px; 
    display:inline-block
}
.client_2{
    height:30px; 
    display:inline-block
}
.flexbox{
    display: flex;

}
.flexbox2{
    margin: 0 0 0 16px;
}
