.main__form-feedback-input2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;
box-sizing: border-box;
width: 175px;
border: 1px solid #888888;
}
.main__form-feedback-input2::placeholder{
font-weight: 500;
font-size: 16px;
color: #8888;
}
.main__form-feedback-input2:hover{
    border-color: black;
}
@media(min-width:360px) and (max-width:1023px){
    .main__form-feedback-input2{
        width: 335px;
    }
     }