.main__characteric-img-colors{
    display: flex ;
    gap: 10px;
    padding: 15px 0 0 0;
}
@media(min-width:360px) and (max-width:1023px){
    .main__characteric-img-colors{
        width: 360px;
        height: auto;
    }
         
     }