.main__characteric{
    padding: 30px 0 0 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__characteric{
        padding: 30px 15px 0 15px;
        gap: 40px;
        width: 994px;
    }
}
@media(min-width:360px) and (max-width:1023px){
   .main__characteric{
       flex-direction: column;
       flex-direction: column-reverse;
       padding: 30px 10px 0 10px;
       gap: 30px;
   }
        
    }