.main__btn_memory_check{
    width: 92px;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    background: white;
    border: 2px solid #A93A09; 
    cursor: pointer;
}