.main__reviews-reviews-1-img{
    width: 140px;
   height: 140px;
   border-radius: 100px;
}

@media (min-width:1024px) and (max-width:1499px) {
   
    .main__reviews-reviews-1-img{
        width: 100px;
        height: 100px;
    }
}
@media(min-width:360px) and (max-width:1023px){
    .main__reviews-reviews-1-img{
        width: 60px;
        height: 60px;
    }
         
     }