.main__sidebar-advertisement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 642px;
}
@media (min-width:1024px) and (max-width:1499px) {
   
    .main__sidebar-advertisement{
        width: 360px;
    }
}