.main__form-feedback-input1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;
box-sizing: border-box;
border: 1px solid #888888;
width: 495px;
}
.main__form-feedback-input1::placeholder{
    font-weight: 500;
font-size: 16px;
color: #8888;
}
.main__form-feedback-input1:hover{
    border-color: black;
}

@media (min-width:1024px) and (max-width:1499px) {
    .main__form-feedback-input1{
        width: 379px;
    }
}
