.main__reviews-reviews-1-header-name-rating{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
width: 150px;
height: 40px;
}

@media (min-width:1024px) and (max-width:1499px) {
   
    .main__reviews-reviews-1-header-name-rating{
        width: 100px;
        height: auto;
    }
}