.main__sidebar-important-favorite{
    position:absolute;
    margin-left: 350px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .main__sidebar-important-favorite{
        margin-left: 290px;
    }
}