.main__photo-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  0 50px;
    gap: 10px;
    height: auto;
    
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__photo-product{
        padding: 0 15px;
      
    }
}