.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 600px;
    gap: 20px;

}
.homeContent{
  text-align: center;
    width: 460px;
}