.header__icon_content{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0px;
gap:20px;
width: 120px;
height: 70px;
box-sizing: border-box;
}

@media(min-width:360px) and (max-width:1023px){
    .header__icon_content{
        gap: 15px;
        width: 50px;
    }
        
    }