.header__content{
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;
padding: 0px 50px;
height: 80px;

}

@media (min-width:1024px) and (max-width:1499px) {
    .header__content{
        padding: 0;
    }
}

@media(min-width:360px) and (max-width:1023px){
    .header__content{
      padding: 0 10px;
    }
        
    }