.main__sidebar-delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0 20px;
    gap: 10px;
    width: 380px;
    height: 68px;
}

@media (min-width:1024px) and (max-width:1499px) {
   
    .main__sidebar-delivery{
        width: 320px;
        height: auto;
    }
}