.main__reviews-reviews-1-header{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 150px;
}
@media (min-width:1024px) and (max-width:1499px) {
   
    .main__reviews-reviews-1-header{
        width: 100px;
    }
}