.main__reviews-reviews-1-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 710px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__reviews-reviews-1-info{
        width: 464px;
     }
}