.main__characteristic-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: auto;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__characteristic-left{
        width: 594px;
    }

}