.main__characteristic_color_check {
    width: 80px;
    height: 80px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    border: 2px solid #888888;
    border-radius: 4px;
}