.main__form-feedback-input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}
@media (min-width:1024px) and (max-width:1499px) {
    .main__form-feedback-input{
        width: 594px;
    }
}
