.header{
position: sticky;
top: 0;
background:white;
}

@media (min-width:1024px) and (max-width:1499px) {
    .header{
        padding: 0 15px;
        box-sizing: border-box;
        width: 1024px;
    }
}
@media(min-width:360px) and (max-width:1023px){
    
}