.header__elected_count{
    position: absolute;
    width: auto;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding: 2px 7px;
    text-align: center;
    left: 24px;
   top: 0;
}
