.bread-crumbs{
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px 8px 51px;
    }

    @media (min-width:1024px) and (max-width:1499px) {
        .bread-crumbs{
            padding: 8px 0 8px 15px;
        }
    }